<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crdTyGmRc_arrowDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,999},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>crdTyGmRc_bgPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,640}}</string>
                <key>sourceSize</key>
                <string>{260,640}</string>
            </dict>
            <key>crdTyGmRc_btnContTabSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{153,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,64}}</string>
                <key>sourceSize</key>
                <string>{153,64}</string>
            </dict>
            <key>crdTyGmRc_btnContTab_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,939},{153,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,58}}</string>
                <key>sourceSize</key>
                <string>{153,58}</string>
            </dict>
            <key>crdTyGmRc_cardTypeDesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{293,522}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,522}}</string>
                <key>sourceSize</key>
                <string>{301,522}</string>
            </dict>
            <key>crdTyGmRc_decRecTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,939},{260,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,52}}</string>
                <key>sourceSize</key>
                <string>{260,52}</string>
            </dict>
            <key>crdTyGmRc_decTagDogFall.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,993},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>crdTyGmRc_decTagLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,993},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>crdTyGmRc_decTagWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,993},{43,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,26}</string>
            </dict>
            <key>crdTyGmRc_dentRecItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{258,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,118}}</string>
                <key>sourceSize</key>
                <string>{258,118}</string>
            </dict>
            <key>crdTyGmRc_dscTagDogFall.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1005},{30,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,10}}</string>
                <key>sourceSize</key>
                <string>{30,10}</string>
            </dict>
            <key>crdTyGmRc_dscTagLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>crdTyGmRc_dscTagWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1005},{24,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,10}}</string>
                <key>sourceSize</key>
                <string>{24,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cardTypeGameRec.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8738fd66836c2e1104fa0e658df025b4$</string>
            <key>textureFileName</key>
            <string>cardTypeGameRec.png</string>
        </dict>
    </dict>
</plist>
