<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_auxBgPanel_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{134,551}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,551}}</string>
                <key>sourceSize</key>
                <string>{134,551}</string>
            </dict>
            <key>hall_auxBgTabHili_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,795},{132,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,122}}</string>
                <key>sourceSize</key>
                <string>{132,122}</string>
            </dict>
            <key>hall_auxBtnExchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1029},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>hall_auxBtnFeedBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1081},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>hall_auxBtnReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,929},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>hall_bgBrick_norRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,337},{216,328}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,328}}</string>
                <key>sourceSize</key>
                <string>{218,328}</string>
            </dict>
            <key>hall_bgBrick_playNow.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,337},{246,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,328}}</string>
                <key>sourceSize</key>
                <string>{246,328}</string>
            </dict>
            <key>hall_bgBrick_proRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{226,336}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{226,336}}</string>
                <key>sourceSize</key>
                <string>{226,340}</string>
            </dict>
            <key>hall_bgMoreChipPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,340},{332,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,218}}</string>
                <key>sourceSize</key>
                <string>{332,218}</string>
            </dict>
            <key>hall_bg_promtAd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{260,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,261}}</string>
                <key>sourceSize</key>
                <string>{260,261}</string>
            </dict>
            <key>hall_bg_suonaMsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{915,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{915,38}}</string>
                <key>sourceSize</key>
                <string>{915,38}</string>
            </dict>
            <key>hall_btnAct_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,383},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>hall_btnAct_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,340},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>hall_btnCodeExchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,992},{106,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{106,88}</string>
            </dict>
            <key>hall_btnDaliyTask.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1102},{106,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{106,88}</string>
            </dict>
            <key>hall_btnDaySignIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1124},{106,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{106,88}</string>
            </dict>
            <key>hall_btnDokb_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1168},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>hall_btnDokb_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,303},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>hall_btnExchange_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,607},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>hall_btnExchange_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,615},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>hall_btnFarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1029},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{106,88}</string>
            </dict>
            <key>hall_btnFreeChip_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1128},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>hall_btnFreeChip_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1128},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>hall_btnGetCurrency_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1128},{40,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,39}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>hall_btnGift_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1169},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>hall_btnGift_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1168},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>hall_btnInvite_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,560},{260,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,72}}</string>
                <key>sourceSize</key>
                <string>{260,72}</string>
            </dict>
            <key>hall_btnLuckyWheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1124},{106,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{106,88}</string>
            </dict>
            <key>hall_btnMailMsg_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,503},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>hall_btnMailMsg_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,460},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>hall_btnMoreSet_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1176},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>hall_btnMoreSet_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1176},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>hall_btnRank_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,656},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>hall_btnRank_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,648},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>hall_btnStore_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1119},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hall_btnStore_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1082},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>hall_btnSuonaSend_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1128},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>hall_dentCurrency.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1081},{218,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,45}}</string>
                <key>sourceSize</key>
                <string>{222,49}</string>
            </dict>
            <key>hall_divLine_botPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,899},{26,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,83}}</string>
                <key>sourceSize</key>
                <string>{26,83}</string>
            </dict>
            <key>hall_divLine_topPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1209},{3,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,43}}</string>
                <key>sourceSize</key>
                <string>{3,43}</string>
            </dict>
            <key>hall_ic_cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,560},{54,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>hall_ic_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1153},{52,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>hall_panelBottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,104}}</string>
                <key>sourceSize</key>
                <string>{960,104}</string>
            </dict>
            <key>hall_panelTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{960,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,101}}</string>
                <key>sourceSize</key>
                <string>{960,101}</string>
            </dict>
            <key>hall_prgFiller_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,711},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>hall_prgLayer_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{139,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,8}}</string>
                <key>sourceSize</key>
                <string>{143,12}</string>
            </dict>
            <key>roomChos_bgPerFeeDet.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,211},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>roomChos_btnMatchApply.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,992},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>roomChos_btnMatchJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1081},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>roomChos_btnQMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,695},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>roomChos_btnSighMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,729},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>roomChos_icPerLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,899},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>roomChos_matchTypeHot_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,560},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>roomChos_matchTypeHot_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1105},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>roomChos_matchTypeNor_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1157},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>roomChos_matchTypeNor_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1069},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>roomChos_perRoomTiCrt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{211,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,54}}</string>
                <key>sourceSize</key>
                <string>{211,54}</string>
            </dict>
            <key>roomChos_perRoomTiPswEntry.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,667},{404,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,50}}</string>
                <key>sourceSize</key>
                <string>{404,50}</string>
            </dict>
            <key>roomChos_perRoomTiQR.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1081},{163,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,41}}</string>
                <key>sourceSize</key>
                <string>{163,41}</string>
            </dict>
            <key>roomChos_roomCashAvatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,251},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>roomChos_roomCashChip.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,719},{178,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>roomChos_roomCashIcCurrency.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,426},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>roomChos_roomInfoDivLine_vertical.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1208},{4,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,50}}</string>
                <key>sourceSize</key>
                <string>{4,50}</string>
            </dict>
            <key>roomChos_roomListBgItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{832,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,84}}</string>
                <key>sourceSize</key>
                <string>{832,84}</string>
            </dict>
            <key>roomChos_roomListEntry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,634},{159,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,90}}</string>
                <key>sourceSize</key>
                <string>{159,90}</string>
            </dict>
            <key>roomChos_roomListIcOnlineNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1151},{43,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,30}}</string>
                <key>sourceSize</key>
                <string>{43,30}</string>
            </dict>
            <key>roomChos_roomMatchBgItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,337},{239,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,362}}</string>
                <key>sourceSize</key>
                <string>{239,362}</string>
            </dict>
            <key>roomChos_roomNorChip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,634},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>roomChos_roomNorChip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,899},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>roomChos_roomNorChip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,899},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>roomChos_roomNorChip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,899},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>roomChos_roomNorChip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,719},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>roomChos_roomNorChip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,719},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>roomChos_roomNorChip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,701},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>roomChos_roomNorChip_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,816},{174,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,178}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>roomChos_roomTypeCash_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1113},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>roomChos_roomTypeCash_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1069},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>roomChos_roomTypeNor_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,667},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>roomChos_roomTypeNor_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1128},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>roomChos_roomTypePerson_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1157},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>roomChos_roomTypePerson_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,257},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_texture.png</string>
            <key>size</key>
            <string>{1214,1214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:771fc86ce5ef3c63d69bf5a98367d761$</string>
            <key>textureFileName</key>
            <string>hall_texture.png</string>
        </dict>
    </dict>
</plist>
