<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_arrowDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,454},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>help_bgBlkDent.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,454},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>help_bgItemBlkGrey.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,454},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>help_bgLeftTabBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,394}}</string>
                <key>sourceSize</key>
                <string>{160,394}</string>
            </dict>
            <key>help_btnLeftTabItem_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,166},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>help_btnLeftTabItem_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{162,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,66}}</string>
                <key>sourceSize</key>
                <string>{162,66}</string>
            </dict>
            <key>help_decDescTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{174,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,54}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>help_divLineFeedBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,454},{8,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,4}}</string>
                <key>sourceSize</key>
                <string>{8,4}</string>
            </dict>
            <key>help_icQMarkRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>help_icUploadImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,326},{96,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,70}}</string>
                <key>sourceSize</key>
                <string>{96,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_texture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08bb6d47026254cb80c340dda7b592a4$</string>
            <key>textureFileName</key>
            <string>help_texture.png</string>
        </dict>
    </dict>
</plist>
