<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_bg_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,640}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{680,640}}</string>
                <key>sourceSize</key>
                <string>{740,640}</string>
            </dict>
            <key>login_btn_FBLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,122},{334,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,118}}</string>
                <key>sourceSize</key>
                <string>{334,118}</string>
            </dict>
            <key>login_btn_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,288},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>login_btn_guestLog.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{334,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,118}}</string>
                <key>sourceSize</key>
                <string>{334,118}</string>
            </dict>
            <key>login_btn_ranGuest.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,242},{46,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,61}</string>
            </dict>
            <key>login_btn_switchSrv.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,290},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>login_dec_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{569,615}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,615}}</string>
                <key>sourceSize</key>
                <string>{569,615}</string>
            </dict>
            <key>login_dec_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,242},{386,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,165}}</string>
                <key>sourceSize</key>
                <string>{386,165}</string>
            </dict>
            <key>login_tag_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,242},{103,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,44}}</string>
                <key>sourceSize</key>
                <string>{103,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_th.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dea012efffc4a68322b55985173a5760$</string>
            <key>textureFileName</key>
            <string>login_th.png</string>
        </dict>
    </dict>
</plist>
