<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setg_arrowRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,158},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>setg_bgBlkAbout.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,252},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>setg_bgBlkAboutHili.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,252},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>setg_bgGameIcLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,2},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>setg_chkBtnSet_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{106,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,34}}</string>
                <key>sourceSize</key>
                <string>{106,34}</string>
            </dict>
            <key>setg_chkBtnSet_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,110},{106,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,32}}</string>
                <key>sourceSize</key>
                <string>{106,34}</string>
            </dict>
            <key>setg_decDescAboutTi.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,114},{150,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,46}}</string>
                <key>sourceSize</key>
                <string>{150,46}</string>
            </dict>
            <key>setg_decDescTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>setg_divlInfoAbout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,4}}</string>
                <key>sourceSize</key>
                <string>{500,4}</string>
            </dict>
            <key>setg_sldBarBgVolume.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,158},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>setg_sldBarFillerVolume.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,170},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>setg_sldBtnVolume.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,218},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting_texture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:213c9f69e92f761e66b7337a0d8c9af6$</string>
            <key>textureFileName</key>
            <string>setting_texture.png</string>
        </dict>
    </dict>
</plist>
