<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>upd_porBarHili.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,44},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>upd_porBarLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,24},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>upd_porBarLayerForw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>upd_proBarFiller.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{32,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,12}}</string>
                <key>sourceSize</key>
                <string>{32,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>update_texture.png</string>
            <key>size</key>
            <string>{58,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fcaa12fb805b46a65f95631db0de062$</string>
            <key>textureFileName</key>
            <string>update_texture.png</string>
        </dict>
    </dict>
</plist>
