<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>otherinfo_add_friend_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{178,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,58}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>otherinfo_add_friend_ena.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,490},{178,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,58}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>otherinfo_add_friend_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,490},{178,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,58}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>otherinfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{808,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,486}}</string>
                <key>sourceSize</key>
                <string>{808,486}</string>
            </dict>
            <key>otherinfo_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{545,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,229}}</string>
                <key>sourceSize</key>
                <string>{545,229}</string>
            </dict>
            <key>otherinfo_boy.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,533},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>otherinfo_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,787},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>otherinfo_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,870},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>otherinfo_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,870},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>otherinfo_btn_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,787},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>otherinfo_cash_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,529},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>otherinfo_chip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,501},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>otherinfo_del_friend_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,490},{178,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,58}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>otherinfo_del_friend_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,473},{178,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,58}}</string>
                <key>sourceSize</key>
                <string>{178,58}</string>
            </dict>
            <key>otherinfo_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>otherinfo_left_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{209,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,469}}</string>
                <key>sourceSize</key>
                <string>{209,469}</string>
            </dict>
            <key>otherinfo_score_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,473},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>user_other_info.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a90666d4ca909b2597173862eece866$</string>
            <key>textureFileName</key>
            <string>user_other_info.png</string>
        </dict>
    </dict>
</plist>
