<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>usrInfo_bgBankProptyNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,464},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>usrInfo_bgDecBankPropty.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,472},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>usrInfo_bgItemAffixPropty.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,494},{170,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,176}}</string>
                <key>sourceSize</key>
                <string>{170,176}</string>
            </dict>
            <key>usrInfo_bgItemAffixProptySel.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,752},{170,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,176}}</string>
                <key>sourceSize</key>
                <string>{170,176}</string>
            </dict>
            <key>usrInfo_bgLeftPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{210,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,472}}</string>
                <key>sourceSize</key>
                <string>{210,472}</string>
            </dict>
            <key>usrInfo_bgProdTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,450},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>usrInfo_bgPswIptLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,360},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>usrInfo_bgRewDisplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,494},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>usrInfo_bgRewNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,274},{44,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>usrInfo_bgTabBtnSelHili.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,750},{146,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,68}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>usrInfo_bgTopTabBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,428},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>usrInfo_bgUserHeadImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,742},{144,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,140}}</string>
                <key>sourceSize</key>
                <string>{144,140}</string>
            </dict>
            <key>usrInfo_bgUsrRewInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{550,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,98}}</string>
                <key>sourceSize</key>
                <string>{550,98}</string>
            </dict>
            <key>usrInfo_btnBankDigitInput.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,406},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>usrInfo_btnGiftWare_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,632},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>usrInfo_btnGiftWare_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,632},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>usrInfo_btnGoExtStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,888},{126,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{126,44}}</string>
                <key>sourceSize</key>
                <string>{130,48}</string>
            </dict>
            <key>usrInfo_btnGreyAlertAva.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,384},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>usrInfo_btnSubGiftType_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,888},{64,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,42}}</string>
                <key>sourceSize</key>
                <string>{64,42}</string>
            </dict>
            <key>usrInfo_btnSubGiftType_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,672},{64,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,42}}</string>
                <key>sourceSize</key>
                <string>{64,42}</string>
            </dict>
            <key>usrInfo_decDescTi1_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,672},{70,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{70,34}</string>
            </dict>
            <key>usrInfo_decDescTi1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,930},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>usrInfo_decDescTi2_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{78,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,26}}</string>
                <key>sourceSize</key>
                <string>{78,26}</string>
            </dict>
            <key>usrInfo_decDescTi2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,930},{86,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>usrInfo_decDescTi3_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,898},{108,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,30}}</string>
                <key>sourceSize</key>
                <string>{108,30}</string>
            </dict>
            <key>usrInfo_decDescTi3_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,888},{116,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,38}}</string>
                <key>sourceSize</key>
                <string>{116,38}</string>
            </dict>
            <key>usrInfo_decDescTi4_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,476},{100,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,16}}</string>
                <key>sourceSize</key>
                <string>{100,16}</string>
            </dict>
            <key>usrInfo_decDescTi4_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,166},{106,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,24}}</string>
                <key>sourceSize</key>
                <string>{106,24}</string>
            </dict>
            <key>usrInfo_decFlagPswRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,464},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>usrInfo_decFlagPswWrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,464},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>usrInfo_decNamePen.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,954},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>usrInfo_decOutlBor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{780,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,460}}</string>
                <key>sourceSize</key>
                <string>{780,460}</string>
            </dict>
            <key>usrInfo_decTiBankPswSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,494},{136,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,46}}</string>
                <key>sourceSize</key>
                <string>{136,46}</string>
            </dict>
            <key>usrInfo_decTiBankPswUnlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,750},{156,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,34}}</string>
                <key>sourceSize</key>
                <string>{156,34}</string>
            </dict>
            <key>usrInfo_divLineTab.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,1016},{1,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,64}}</string>
                <key>sourceSize</key>
                <string>{1,64}</string>
            </dict>
            <key>usrInfo_icCash.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,138},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>usrInfo_icChip.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,110},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>usrInfo_icCup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,672},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>usrInfo_icCup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,930},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>usrInfo_icCup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,930},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>usrInfo_icDecKey.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,988},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>usrInfo_icDecUnlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,464},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>usrInfo_icDigitInputBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,320},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>usrInfo_icMatchPnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,82},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>usrInfo_icMedal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,930},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>usrInfo_icMedal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,672},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>usrInfo_icMedal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,672},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>usrInfo_prgbFillerExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{14,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,4}}</string>
                <key>sourceSize</key>
                <string>{14,4}</string>
            </dict>
            <key>usrInfo_prgbLayerExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,464},{30,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,8}}</string>
                <key>sourceSize</key>
                <string>{30,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>usrInfo_texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74bbf60e57e706c7e08eb0ae7dc39c30$</string>
            <key>textureFileName</key>
            <string>usrInfo_texture.png</string>
        </dict>
    </dict>
</plist>
