<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wheel_bgFanBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,988},{170,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,220}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>wheel_bgFanGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,817},{170,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,220}}</string>
                <key>sourceSize</key>
                <string>{170,220}</string>
            </dict>
            <key>wheel_bgMainPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{960,634}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,634}}</string>
                <key>sourceSize</key>
                <string>{960,634}</string>
            </dict>
            <key>wheel_btnAtdAct_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,463},{230,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,248}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>wheel_btnAtdAct_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,232},{230,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,248}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>wheel_btnAtdAct_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1},{230,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,248}}</string>
                <key>sourceSize</key>
                <string>{230,248}</string>
            </dict>
            <key>wheel_decChipsLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1162},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>wheel_decChipsLess.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1162},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>wheel_decChipsMid.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,995},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{76,64}</string>
            </dict>
            <key>wheel_decChipsReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,995},{166,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,168}}</string>
                <key>sourceSize</key>
                <string>{166,168}</string>
            </dict>
            <key>wheel_decDescTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1159},{300,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,74}}</string>
                <key>sourceSize</key>
                <string>{300,74}</string>
            </dict>
            <key>wheel_decHiliBorRewFan.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,636},{180,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,234}}</string>
                <key>sourceSize</key>
                <string>{180,234}</string>
            </dict>
            <key>wheel_decProp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1162},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>wheel_decRewardShiny.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,694},{300,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,242}}</string>
                <key>sourceSize</key>
                <string>{300,242}</string>
            </dict>
            <key>wheel_decRib.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,636},{723,558}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{723,558}}</string>
                <key>sourceSize</key>
                <string>{723,640}</string>
            </dict>
            <key>wheel_decTitleTime_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1195},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>wheel_decTitleTime_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1195},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>wheel_decTitleTime_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1195},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>wheel_decTitleTime_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1195},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wheel_texture.png</string>
            <key>size</key>
            <string>{1234,1234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7fc9dbfe45f9fbe643599a7f2ed197c$</string>
            <key>textureFileName</key>
            <string>wheel_texture.png</string>
        </dict>
    </dict>
</plist>
