<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>excMar_bgExcItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,632},{206,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,215}}</string>
                <key>sourceSize</key>
                <string>{206,215}</string>
            </dict>
            <key>excMar_bgExcPrdImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,849},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>excMar_bgPanelLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,312},{208,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,560}}</string>
                <key>sourceSize</key>
                <string>{208,560}</string>
            </dict>
            <key>excMar_bgPanelTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,101}}</string>
                <key>sourceSize</key>
                <string>{960,101}</string>
            </dict>
            <key>excMar_bgPrdExcRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,312},{732,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,98}}</string>
                <key>sourceSize</key>
                <string>{732,98}</string>
            </dict>
            <key>excMar_bgSuonaMsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{915,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{915,38}}</string>
                <key>sourceSize</key>
                <string>{915,38}</string>
            </dict>
            <key>excMar_btnFeedBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,412},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>excMar_btnGetCurrency.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,455},{40,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,39}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>excMar_btnQMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,363},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>excMar_btnReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,874},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>excMar_btnSuonaSend.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,312},{36,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,21}}</string>
                <key>sourceSize</key>
                <string>{36,21}</string>
            </dict>
            <key>excMar_chkBtnLeftTab_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,942},{202,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,66}}</string>
                <key>sourceSize</key>
                <string>{202,66}</string>
            </dict>
            <key>excMar_chkBtnLeftTab_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,874},{202,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,66}}</string>
                <key>sourceSize</key>
                <string>{202,66}</string>
            </dict>
            <key>excMar_decModBot.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,111},{958,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{958,199}}</string>
                <key>sourceSize</key>
                <string>{958,199}</string>
            </dict>
            <key>excMar_decTitleExc.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,412},{202,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,46}}</string>
                <key>sourceSize</key>
                <string>{202,46}</string>
            </dict>
            <key>excMar_dentCurrency.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,412},{218,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{218,45}}</string>
                <key>sourceSize</key>
                <string>{222,49}</string>
            </dict>
            <key>excMar_icCash.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{54,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>excMar_icChip.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,57},{52,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>excMar_icExcTicket.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,335},{34,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,26}}</string>
                <key>sourceSize</key>
                <string>{34,26}</string>
            </dict>
            <key>excMar_prgFillerExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,111},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,8}}</string>
                <key>sourceSize</key>
                <string>{6,8}</string>
            </dict>
            <key>excMar_prgLayerExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,111},{139,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{139,8}}</string>
                <key>sourceSize</key>
                <string>{143,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>excMarket.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08e09762345e5dc0bf9d7adfcbf736f5$</string>
            <key>textureFileName</key>
            <string>excMarket.png</string>
        </dict>
    </dict>
</plist>
