<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>propGift_bgDentPrdGiftTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,404},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>propGift_bgGiftItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,164},{170,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,176}}</string>
                <key>sourceSize</key>
                <string>{170,176}</string>
            </dict>
            <key>propGift_bgGiftItemSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{170,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,176}}</string>
                <key>sourceSize</key>
                <string>{170,176}</string>
            </dict>
            <key>propGift_bgLeftTabBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,394}}</string>
                <key>sourceSize</key>
                <string>{160,394}</string>
            </dict>
            <key>propGift_bgPropItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{606,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,98}}</string>
                <key>sourceSize</key>
                <string>{606,98}</string>
            </dict>
            <key>propGift_btnLeftTabItem_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,336},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>propGift_btnLeftTabItem_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{162,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,66}}</string>
                <key>sourceSize</key>
                <string>{162,66}</string>
            </dict>
            <key>propGift_btnSubGiftType_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,348},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>propGift_btnSubGiftType_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,396},{68,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,44}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>propGift_decDescSubTi1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,164},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>propGift_decDescSubTi1_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,400},{80,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,24}}</string>
                <key>sourceSize</key>
                <string>{80,24}</string>
            </dict>
            <key>propGift_decDescSubTi2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,254},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>propGift_decDescSubTi2_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{56,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,18}}</string>
                <key>sourceSize</key>
                <string>{56,18}</string>
            </dict>
            <key>propGift_decTitleStoreDesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,400},{122,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,46}}</string>
                <key>sourceSize</key>
                <string>{122,46}</string>
            </dict>
            <key>propGift_icPrdPriceChip.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,320},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>propGift_icPrdPropPack.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,442},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>giftStore.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b78200151689b5ec4d3f96654632ea8e$</string>
            <key>textureFileName</key>
            <string>giftStore.png</string>
        </dict>
    </dict>
</plist>
