<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>store_bgLeftOprPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,394}}</string>
                <key>sourceSize</key>
                <string>{160,394}</string>
            </dict>
            <key>store_bgLeftTabBtn_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,822},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>store_bgLeftTabBtn_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,822},{158,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,62}}</string>
                <key>sourceSize</key>
                <string>{158,62}</string>
            </dict>
            <key>store_bgPrdItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,236},{778,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,78}}</string>
                <key>sourceSize</key>
                <string>{778,78}</string>
            </dict>
            <key>store_bgTopTabBtnSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{260,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,60}}</string>
                <key>sourceSize</key>
                <string>{260,60}</string>
            </dict>
            <key>store_decModShdListBot.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,236},{780,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,44}}</string>
                <key>sourceSize</key>
                <string>{780,44}</string>
            </dict>
            <key>store_divLineRecs.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,40},{780,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,4}}</string>
                <key>sourceSize</key>
                <string>{780,4}</string>
            </dict>
            <key>store_dscTopTabTi1_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,164},{86,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,46}}</string>
                <key>sourceSize</key>
                <string>{86,46}</string>
            </dict>
            <key>store_dscTopTabTi1_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,250},{78,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,38}}</string>
                <key>sourceSize</key>
                <string>{78,38}</string>
            </dict>
            <key>store_dscTopTabTi2_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,822},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>store_dscTopTabTi2_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,822},{156,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,38}}</string>
                <key>sourceSize</key>
                <string>{156,38}</string>
            </dict>
            <key>store_dscTopTabTi3_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{190,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,46}}</string>
                <key>sourceSize</key>
                <string>{190,46}</string>
            </dict>
            <key>store_dscTopTabTi3_unSel.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,822},{182,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,38}}</string>
                <key>sourceSize</key>
                <string>{182,38}</string>
            </dict>
            <key>store_icPrdChip01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,212},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>store_icPrdChip02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,164},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>store_icPrdChip03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,164},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>store_icPrdChip04.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,330},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{64,38}</string>
            </dict>
            <key>store_icPrdChip05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,164},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>store_payType_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,988},{136,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,32}}</string>
                <key>sourceSize</key>
                <string>{136,32}</string>
            </dict>
            <key>store_payType_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{112,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,36}}</string>
                <key>sourceSize</key>
                <string>{112,36}</string>
            </dict>
            <key>store_payType_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,982},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>store_payType_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,40},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>store_payType_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,40},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>store_payType_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,40},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>store_payType_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{132,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,44}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>store_payType_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,108},{96,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{96,40}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>store_payType_501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{124,46}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{124,46}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>store_payType_502.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,298},{124,46}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{124,46}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>store_payType_503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{124,46}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{124,46}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>store_payType_504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{72,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,22}}</string>
                <key>sourceSize</key>
                <string>{72,22}</string>
            </dict>
            <key>store_payType_601.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,396},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>store_payType_701.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,532},{36,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>store_payType_702.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,822},{128,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,28}}</string>
                <key>sourceSize</key>
                <string>{128,28}</string>
            </dict>
            <key>store_payType_703.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,190},{80,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{80,44}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
            <key>store_payType_801.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,82},{98,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>store_payType_802.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,82},{98,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>store_payType_901.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,150},{88,38}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{88,38}}</string>
                <key>sourceSize</key>
                <string>{134,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>store.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da53edcac8a9516f67d9fe56e81cfec2$</string>
            <key>textureFileName</key>
            <string>store.png</string>
        </dict>
    </dict>
</plist>
